# Templates
#  <g:render template="/domain/template" model="[key : value]"></g:render>
snippet tem
	<g:render template="${1:name}" model="${2:model}" />

#  <g:def var="now" value="${new Date()}" />
snippet gdef
	<g:def var="${1:varname}" value="${${2:expression}}" />

snippet inp
	<g:textField name="${1:name}" type="hidden" value="${2:value}" />

snippet each
	<g:each var="${1:var}" in="${2}" status="i">
	    ${3}
	</g:each>
